name: Build Android APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Cache Buildozer
      uses: actions/cache@v4
      with:
        path: |
          ~/.buildozer
          ~/.cache/pip
        key: buildozer-${{ runner.os }}

    - name: Build APK
      uses: digreatbrian/buildozer-action@v2
      with:
        command: buildozer android debug
